@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --green-color: #36b37f;
  --darkBlue-color: #172b4d;
}

* {
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation-mobile {
  max-width: 375px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#menu-toggle {
  background: none;
  margin: 0;
  padding: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(0 0 0);
  background-color: rgb(0 0 0 / 40%);
}

.nav-menu-content {
  background-color: #fefefe;
  padding: 0;
  margin: 0;
  border: 1px solid #888;
  width: 100%;
  height: 100vh;
}

.nav-menu-content ul {
  padding: 108px 28px;
  line-height: 60px;
}

.habilities li {
  font-size: 12px;
  color: var(--darkBlue-color);
  font-weight: 600;
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  margin: 0 8px;
  margin-bottom: 8px;
}

.nav-menu-content ul li {
  font-size: 32px;
  font-family: Inter, sans-serif;
  font-weight: 600;
}

.nav-menu-content ul li a {
  color: #3a4a42;
}

.close {
  color: #aaa;
  float: right;
  font-size: 32px;
  font-weight: 500;
  transform: translateX(-30px) translateY(40px);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navigation-desktop {
  display: none;
}

.nav-button {
  display: flex;
  margin-right: 32px;
  height: 12px;
  width: 18px;
  align-self: center;
}

.title-top {
  font-size: 20px;
  font-weight: 600;
  color: #28351f;
  margin: 10px 12px;
  padding: 10px 12px;
  line-height: 28px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.title-body {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-bottom: 0;
}

.title-body > h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--darkBlue-color);
  line-height: 52px;
  width: 327px;
  align-self: center;
  margin: 0;
}

.title-body .highlited-title {
  color: var(--green-color);
  margin: 0;
  width: 327px;
  align-self: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.about-me-brief {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--darkBlue-color);
  width: 327px;
  align-self: center;
  margin-bottom: 58px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-content: center;
}

.social-icons > ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.social-icons img {
  height: 20px;
  margin: 0 10px;
  padding: 0;
  display: flex;
  transform: scale(1);
  transition: transform 0.5s linear;
}

.button-down {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.button-down img {
  height: 40px;
  width: 40px;
}

.habilities img {
  padding: 16px;
  margin: 0;
  height: 48px;
  width: 48px;
  background-color: #fff;
  border-radius: 40px;
  margin-top: 40px;
  margin-bottom: 64px;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.projects {
  display: grid;
  text-align: center;
  padding: 0;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 474px);
  /* min-width: 370px; */
  row-gap: 24px;
}

.recent-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-recent-works {
  display: flex;
  justify-self: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: 300px;
  font-size: 40px;
  text-align: center;
  color: var(--darkBlue-color);
  margin-top: 22px;
}

.hr-works {
  width: 48px;
  border-width: 3px;
  border-style: solid;
  color: var(--green-color);
  border-radius: 4px;
  margin-top: 24px;
  margin-bottom: 62px;
}

.project {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin-left: 26px;
  margin-right: 22px;
  background: #ebf0ee;
}

.project .img-container {
  flex: 1 1 252px;
  margin: 0;
  padding: 0;
  border: none;
}

.project ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

.project ul li {
  background-color: #ebf0ee;
  padding: 8px 12px;
  margin: 2px 4px;
  border-radius: 4px;
  align-self: center;
  font-size: 12px;
  color: #3a4a42;
  font-weight: 600;
}

.project h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #3a4a42;
  line-height: 32px;
  margin-top: 16px;
}

.project .img-footer-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
  background: #fff;
  border-radius: 8px 6px;
}

button {
  background-color: var(--green-color);
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 12px;
}

button:hover {
  box-shadow: 0 8px 16px rgb(54 179 127 / 24%);
}

button:active {
  background-color: #008552;
}

.project button {
  width: 122px;
  height: 48px;
  align-self: center;
  margin-top: 29px;
  margin-bottom: 24px;
}

.project1 {
  grid-row: 1;
}

.project2 {
  grid-row: 2;
}

.project3 {
  grid-row: 3;
}

.project4 {
  grid-row: 4;
}

.project5 {
  grid-row: 5;
}

.project6 {
  grid-row: 6;
}

.about-me {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.about-me h1 {
  font-size: 40px;
  margin-top: 68px;
  font-weight: 700;
  color: var(--darkBlue-color);
  text-align: center;
}

.about-paragraph {
  margin-top: 24px;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.habilities {
  margin: 0;
  margin-top: 59px;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  /* min-width: 375px; */
  grid-template-rows: repeat(3, 352px);
  row-gap: 24px;
}

.habilities > div {
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px;
}

.languages {
  grid-row: 1;
}

.frameworks {
  grid-row: 2;
}

.skills {
  grid-row: 3;
}

.habilities h2 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #344563;
}

.habilities ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
}

.about-me-container {
  background-image: url("images/img1-aboutme.png"), url("images/img2-aboutme.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 68px 127px, 70px 57px;
  background-position: 307px 7px, 0 380px;
}

.contact-form p {
  font-weight: 700;
  font-size: 40px;
  color: var(--darkBlue-color);
  line-height: 52px;
  text-align: center;
  padding: 0;
  margin: 60px 24px 58px;
}

.contact-form form {
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 24px;
}

.contact-form input,
.contact-form textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-size: 15px;
  color: #6b778c;
  padding: 15px 16px;
  box-sizing: border-box;
  height: 48px;
}

.contact-form textarea {
  height: 114px;
}

textarea:focus,
input:focus {
  border: 1px solid #60c095;
  color: var(--darkBlue-color);
}

.contact-form button {
  height: 48px;
  width: 129px;
  text-align: center;
  align-self: center;
}

.social-icons-bottom {
  margin-top: 46px;
}

.email-bottom {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #42526e;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 40px;
}

.contact-form {
  border: 1px solid transparent;
  background: url("images/illustration-contact-form.png");
  background-repeat: no-repeat;
  background-size: 57px 145px;
  background-position: 315px 740px;
}

.popup-window-back {
  display: none;
}

@media all and (min-width: 768px) {

  /* Popup Window */
  .popup-window-back {
    display: none;
    /* position: fixed; */
    backdrop-filter: blur(30px);
    height: 100vh;
  }
  
  .popup-window-front {
    background-color: #fff;
    margin: 0 auto;
    width: 920px;
    z-index: 2;
  }

  .close-popup {
    background-color: #ebecf0;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    border-radius: 8px;
    /* padding: 8px; */
    margin: 24px;
    font-size: 22px;
    color: #67798e;
    float: right;
  }

  .popup-window-front img {
    height: 616px;
    width: 872px;
  }

  .header-popup-window {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 24px 26px;
  }

  .header-popup-window h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Inter, sans-serif;
    font-size: 32px;
    color: var(--darkBlue-color);
    font-weight: 700;
    line-height: 44px;
    width: 589px;
  }

  .header-popup-window button {
    height: 48px;
    min-width: 115px;
    text-align: left;
  }

  .button-see-source {
    width: 141px;
  } 

  .tags-technologies ul {
    margin-left: 26px;
    padding: 0;
    display: flex;
    column-gap: 8px;
  }

  .tags-technologies li {
    margin: 0;
    background-color: #ebecf0;
    padding: 8px 12px;
    border-radius: 8px;
    color: #344563;
    font-weight: 600;
    font-size: 12px;
  }




  /* ----------- */
  .navigation-mobile {
    display: none;
  }

  .navigation-desktop {
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .navigation-desktop ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navigation-desktop li {
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 600;
    color: var(--darkBlue-color);
  }

  .navigation-desktop a {
    text-decoration: none;
    color: var(--darkBlue-color);
  }

  .content {
    background-image: url("images/Header-llustration-desktop.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .title-body {
    margin-bottom: 0;
    margin-top: 186px;
  }

  .title-body > h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--darkBlue-color);
    line-height: 52px;
    width: 920px;
    align-self: center;
    margin: 0;
  }

  .title-body .highlited-title {
    width: 920px;
    margin-bottom: 0;
  }

  .about-me-brief {
    width: 768px;
    margin-bottom: 30px;
  }

  .button-down {
    margin-bottom: 495px;
  }

  .my-recent-works {
    padding: 0;
    margin: 0;
    min-width: 450px;
    justify-content: center;
  }

  .hr-works {
    display: none;
  }

  .projects {
    padding: 0;
    margin: 0;
    row-gap: 32px;
    column-gap: 24px;
    margin-top: 52px;
    margin-right: 142px;
    margin-left: 142px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 490px);
  }

  .project {
    margin: 0;
    padding: 0;
  }

  .project h2 {
    align-self: center;
    max-width: 340px;
  }

  .project1 {
    grid-row: 1;
    grid-column: 1;
  }

  .project2 {
    grid-row: 1;
    grid-column: 2;
  }

  .project3 {
    grid-row: 1;
    grid-column: 3;
  }

  .project4 {
    grid-row: 2;
    grid-column: 1;
  }

  .project5 {
    grid-row: 2;
    grid-column: 2;
  }

  .project6 {
    grid-row: 2;
    grid-column: 3;
  }

  .about-me {
    margin-top: 192px;
  }

  .about-me h1 {
    margin: 0;
  }

  .about-paragraph {
    max-width: 920px;
  }

  .habilities {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 352px;
    margin-left: 143px;
    margin-right: 143px;
    justify-content: center;
    column-gap: 23px;
  }

  .habilities > div {
    margin: 0;
    padding: 0;
  }

  .languages {
    grid-row: 1;
    grid-column: 1;
    min-width: 369px;
  }

  .frameworks {
    grid-row: 1;
    grid-column: 2;
    min-width: 369px;
  }

  .skills {
    grid-row: 1;
    grid-column: 3;
    min-width: 369px;
  }

  .contact-text-inputs {
    padding: 0;
    display: flex;
    margin-top: 164px;
    margin-left: 135px;
    margin-right: 135px;
    justify-content: space-between;
    align-items: center;
  }

  .contact-text-inputs p {
    margin: 0;
    margin-top: -60px;
    flex-grow: 1;
    flex-basis: 470px;
    line-height: 52px;
    font-size: 30px;
    font-weight: 700;
    margin-right: 24px;
  }

  .contact-text-inputs form {
    margin: 0;
    flex-basis: 680px;
    flex-grow: 2;
  }

  .contact-text-inputs button {
    justify-self: flex-start;
    align-self: flex-start;
  }

  .email-bottom {
    display: none;
  }

  .social-icons-bottom {
    margin-top: 225px;
    padding: 27px;
    border-top: 1px solid #dfe1e6;
  }

  .about-me-container {
    border: 1px solid transparent;
    background-image:
      url("images/desktop-version/about-me-1.png"),
      url("images/desktop-version/about-me-2.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 245px 270px, 200px 120px;
    background-position: 1195px 88px, 0 270px;
  }

  .contact-form {
    background-image:
      url("images/desktop-version/footer-1.png"),
      url("images/desktop-version/footer-2.png"),
      url("images/desktop-version/footer-3.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 193px 352px, 130px 106px, 223px 495px;
    background-position: 0 370px, 274px 529px, 1230px 225px;
  }
}
